.login {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, red, rgb(21, 21, 85), blueviolet);
    position: absolute;

}

.loginCont {
    width: 200px;
    height: 350px;
    /* border: solid black; */
    margin: 0 auto;
    margin-top: 70px;
}

.loginCont h2 {
    color: rgba(240, 255, 255, 0.829);
}

.loginCont input {
    margin: 10px;
    padding: 5px;
    color: azure;
    background-color: rgb(83, 25, 138);
    border: 1px solid rgb(43, 14, 71);
}

.loginCont button {
    margin-left: 65px;
    padding: 5px 20px;
    background-color: rgb(83, 25, 138);
    color: azure;
}


.SearchPanel {
    width: 100%;
    height: 400%;
    /* background-color: blue; */
    position: absolute;
    background-image: linear-gradient(to right, red, rgb(21, 21, 85), blueviolet);
}

.searchFirst {
    width: 300px;
    height: 300px;
    /* border: solid black; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchFirst h2 {
    color: rgba(240, 255, 255, 0.829);
}

.searchFirst button {
    background-color: rgb(83, 25, 138);
    color: azure;
    padding: 5px 20px;
    cursor: pointer;
}

.searchFirst button:hover {
    background-color: rgb(106, 33, 175);
}

.searching input {
    margin: 7px;
    color: azure;
    background-color: rgb(83, 25, 138);
    border: 1px solid rgb(43, 14, 71);
    padding: 5px;
}

.searching input:hover {
    background-color: rgb(106, 33, 175);
}

.wikiLogo {
    width: 200px;
}

.logOut {
    position: absolute;
    margin-left: 1400px;
    margin-top: 50px;
    background-color: red;
    color: azure;
    padding: 5px 20px;
    cursor: pointer;
}

.logOut:hover {
    background-color: rgb(184, 6, 6);
}

.searchSecond {
    width: 1100px;
    height: 1000px;
    /* border: 1px solid; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.searchSecond :hover {
    background-color: rgb(106, 33, 175);
}

.box {
    width: 300px;
    height: 300px;
    padding: 7px;
    /* border: 1px solid ; */
    margin: 15px;
    color: rgba(240, 255, 255, 0.829);
    background-color: rgb(83, 25, 138);
}

a {
    color: bisque;
    text-decoration: none
}

.aid {
    margin: 0 auto;
    width: 220px;
    height: 220px;
    text-align: center;
    border: 3px dotted;
    color: rgba(255, 228, 196, 0.664);
}

.aid h3{
    color: rgba(255, 228, 196, 0.966);
}

.aid span{
    font-weight: 900;
    color: rgba(255, 228, 196, 0.966);
}